<%- layout('layouts/boilerplate') %>
<h1>All Campgrounds</h1>
<p><a href="/campgrounds/new">Create campground</a></p>
<ul>
  <% for(let camp of campgrounds){ %>
  <li><a href="/campgrounds/<%- camp._id %> "><%= camp.title %></a></li>
  <% } %>
</ul>
